
<!-- the valign-wrapper works similar to the row class in this case -->
<% if defined?(show_unread) && show_unread %>
  <% is_unread = message.category == "unread" %>
<% else %>
  <% is_unread = false %>
<% end %>
<div id="<%= message.id%>" style="position: relative" class="hoverable card-wrapper<% ' message-unread' if is_unread %>">
  <%= link_to "#show-message-#{message.id}",
  class: "collection-item avatar modal-trigger #{'bright message-unread' if is_unread }" do %>
    <% sender = Account.find(message.sender_id) %>
    <%= gravatar_for sender, class: "circle responsive-img" %>
    <!--email content-->
    <b id="title" class="title"><%= message.title %></b>
    <% if defined?(show_sender) && show_sender %>
      <p id="sender" class="grey-text"><%= sender.first_name %> <%= sender.last_name %></p>
    <% end %>
    <p class="grey-text text-darken-3 truncate"><%= message.content %> </p>
    <!--end email content-->
  <% end %>
  <span class="badge secondary-content">
    <%= timeago message.created_at, :span, :class => "timeago" %>
      <br/>
    <%= generate_badge_actions(is_unread, show_sender, message.category) %>
  </span>
  <%= render "messages/show_message", message: message%>
</div>









