
<div class="card-wrapper">
  <%= link_to "#show-message-#{message.id}", class: "waves-effect waves-circle waves-light btn-floating secondary-content modal-trigger" do %>
    <i class="text-primary-light mdi-action-grade"></i>
  <% end %>
  <%= link_to "#show-message-#{message.id}", class: "collection-item avatar modal-trigger" do %>
    <% sender = Account.find(message.sender_id) %>
    <%= gravatar_for sender, class: "circle responsive-img" %>
    <!--email content-->
    <b id="title" class="title"><%= message.title %></b>
    <p id="sende" class="grey-text"><%= sender.first_name %> <%= sender.last_name %></p>
    <p class="grey-text text-darken-3 truncate"><%= message.content %> </p>
    <!--end email content-->
  <% end %>
  
  <%= render "messages/show_message", message: message%>
</div>









