
<div id="<%= id %>" class="modal front text-primary">
  <%= form_for(message, url: messages_path, html: {class: "col s12", id: "new-message-form"}) do |f| %>
    <div class="modal-content">
      <h4>New message</h4>
      <%= render 'shared/error_messages', subject: message %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :title, class: "active" %>
          <%= f.text_field :title, class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :sender, class: "active" %>
          <%= f.text_field :sender, value: account.email, readonly: true, class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :reciever, class: "active" %>
          <%# f.label :reciever_id, class: "active" %>
          <%= sender ||= nil %>
          <%= f.text_field :reciever, value: (reciever ? reciever.email : nil), class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :content %>
          <%= f.text_area :content, class: "materialize-textarea validate" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to "#", {onClick: "$(this).closest('form.col.s12').submit()", id: "save-button",
          class: "modal-action modal-close waves-effect waves-green btn-flat"} do %>
          <i class="material-icons right">send</i>
          Send
          <% end %>
      <a href="#!" id="cancel-button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  <% end %>
</div>