<div id="show-message-<%= message.id %>" class="modal front text-primary modal-fixed-footer bottom-sheet">
    <div class="modal-content">
      <div class="container">
        <% sender = Account.find(message.sender_id) %>
        <% reciever = Account.find(message.reciever_id) %>
        <div class="row col">
          <h4 id="title"><%= message.title %></h4>
          <div class="col">
            <%= gravatar_for sender %>
          </div>
          <div class="row col">
            <div class="">
              <p id="sender">
              <%= link_to account_path(sender) do %>
                <b class="tooltipped" data-position="top" 
                   data-delay="50" data-tooltip="<%= sender.email %>">
                   <%= sender.first_name %> <%= sender.last_name %></b>
              <% end %>
              </p>
            </div>
            <div class="text-secondary">
              <p id="reciever" >to 
              <%= link_to account_path(reciever) do %>
                <b class="tooltipped" data-position="bottom" 
                   data-delay="50" data-tooltip="<%= reciever.email %>"><%= reciever.first_name %></b>
              <% end %>
              </p>
            </div>
          </div>
          <div class="col s12"><%= timeago message.created_at %></div>
        </div>
        <div class="row col s8 m6 offset-m1 s12">
          <p id="content"><%= message.content %></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" id="cancel-button" class=" modal-action modal-close waves-effect waves-green btn-flat">Back</a>
      <% if reciever == current_account %>
        <%= link_to "Reply", "#reply-message", id: "reply-button",
                           class: "modal-trigger modal-action waves-effect waves-green btn-flat" %>
        <%= link_to "Junk", "#!", id: "junk-button",
                           class: "text-accent modal-action waves-effect waves-yellow btn-flat" %>
        <%= link_to "Trash", "#!", data: { confirm: "Are you sure?" }, id: "trash-button",
                           class: "red-text modal-action waves-effect waves-red btn-flat" %>
      <% end %>
    </div> 
    <%= render "messages/new_message", message: generate_reply(message),
                                     id: "reply-message",
                                     account: reciever,
                                     reciever: sender %>
</div>