<div class="row">
<div id="" class="card col s12 m6">
    <%= form_for(@account, url: password_reset_path(params[:id]), html: {class: "col s12", id: id}) do |f| %>
        <div class="modal-content">
          <h4><%= title %></h4>
          <%= render 'shared/error_messages', subject: subject %>
          
          <%= hidden_field_tag :email, @account.email %>
          
          <div class="row" id="password-input">
            <div id="shown" class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <%= f.label :password, class: "active" %>
              <%= f.password_field :password, class: "validate", placeholder: is_unchanged(unchanged) %>
            </div>
            <div id="hidden" class="input-field col s12 hide">
              <%= f.label "Enter the password again", class: "active" %>
              <%= f.password_field :password_confirmation, class: "validate" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to link, "#",
            {onClick: "$(this).closest('form.col.s12').submit()", id: "save-button",
              class: "modal-action modal-close waves-effect waves-green btn-flat"} %>
          <a href="#!" id="cancel-button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    <% end %>
  </div>
</div>






