<ul id='options' class='dropdown-content window'>
  <div class="card hoverable">
    <div class="card-image">
      <%= gravatar_for current_account, size: 300 %>
       <!-- the overlay adds a tint to the photo -->
        <!-- <div class="overlay"></div> -->
      <span class="card-title white-text">
        <h5 class="white-text fw300"><%= current_account.first_name %></h5>
      </span>
    </div>
    <div class="card-content">
      <%= link_to "Profile", current_account, class: "btn-flat accent col s12 center-align row" %>
      <b><%= current_account.first_name %> <%= current_account.last_name %></b>
      <p><%= current_account.email %></p>
    </div>
    <div class="card-action white-text">
      <!-- the href attribute matches the button with the model -->
      <a class="modal-trigger waves-effect waves-dark red btn-flat button-settings white-text"  
         href="#settings">settings</a>
      <%= link_to "Log out", logout_path, method: "delete", class: "waves-effect waves-dark red btn-flat white-text" %>
    </div>
  </div>
</ul>