<ul class="side-nav" id="mobile-demo">
  <div class="card">
    <div class="card-image">
      <%# <img class="" src="https://s-media-cache-ak0.pinimg.com/originals/99/a2/65/99a265b17595caaaa2c382e168a5e32b.jpg"> %>
      <%= gravatar_for current_account, size: 600 %>
     <!-- the overlay adds a tint to the photo -->
      <div class="overlay hide"></div>
      <span class="card-title col s12">
        <h5 class="section truncate white-text accent fw300"><%= current_account.first_name %></h5>
      </span>
    </div>
  </div>
  <% button_to_hide = yield(:logo) %>
  <% category_view = [:inbox,:sent,:spam,:trash] %>
  <% icon_view = {inbox: "mail", sent: "send", spam: "report_problem", trash: "delete"} %>
  <% category_view.each do |category| %>
    <% unless button_to_hide.downcase.intern == category %>
      <li>
        <%= link_to method(category.to_s+"_path").call do %>
          <i class="material-icons right"><%= icon_view[category] %></i>
          <%= category.to_s.capitalize %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <div class="divider"></div>
  <div class="section grey-text text-darken-2">
    <h5 class="fw300">Account</h5>
  </div>
  <li class="text-primary truncate"><%= current_account.first_name %> <%= current_account.last_name %>
  </li>
  <li class="text-primary truncate"><%= current_account.email %>
  </li>
  <div class="divider"></div>
  <!-- the href attribute matches the button with the model -->
  <li><a href="#settings" class="modal-trigger button-settings">
    <i class="material-icons right">settings</i>Settings</a>
  </li>
  <li><%= link_to "Profile", current_account %>
  </li>
  <li>
      <%= link_to "Log out", logout_path, method: "delete" %>
  </li>
</ul>