<!-- log-in -->
<div id="log-in" class="modal front">
  <%= form_for(@account, html: {class: "col s12", id: "settings-form"}) do |f| %>
    <div class="modal-content">
      <h4>Log In</h4>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">person</i>
          <%= f.label :email, class: "active" %>
          <%= f.email_field :email, class: "validate", placeholder: "mohamed.aaes@gmail.com" %>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">vpn_key</i>
          <%= f.label :password, class: "active" %>
          <%= f.password_field :password, class: "validate" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to "Log in", "#",
        {onClick: "$(this).closest('form#settings-form.col.s12').submit()", id: "save-button",
          class: "modal-action modal-close waves-effect waves-green btn-flat"} %>
      <a href="#!" id="cancel-button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  <% end %>
</div>
<!-- log-in end -->

<!-- sign-up -->
<div id="sign-up" class="modal front">
  <%= form_for(@account, html: {class: "col s12", id: "settings-form"}) do |f| %>
    <div class="modal-content">
      <h4>Sign up</h4>
      <div class="row">
        <div class="input-field col s12 m6">
          <%= f.label :first_name, class: "active" %>
          <%= f.text_field :first_name, class: "validate" %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.label :last_name, class: "active" %>
          <%= f.text_field :last_name, class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :email, class: "active" %>
          <%= f.email_field :email, class: "validate" %>
        </div>
      </div>
      <div class="row" id="password-input">
        <div id="shown" class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <%= f.label :password, class: "active" %>
          <%= f.password_field :password, class: "validate" %>
        </div>
        <div id="hidden" class="input-field col s12 hide">
          <%= f.label "Enter the password again", class: "active" %>
          <%= f.password_field :password_confirmation, class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <%= f.label :telephone, class: "active" %>
          <%= f.telephone_field :telephone, class: "validate" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to "Sign up", "#",
        {onClick: "$(this).closest('form#settings-form.col.s12').submit()", id: "save-button",
          class: "modal-action modal-close waves-effect waves-green btn-flat"} %>
      <a href="#!" id="cancel-button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  <% end %>
</div>
<!-- sign-up end -->