<!DOCTYPE html>
<html>
<head>
  <title>Nexus</title>
  <!-- load icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="dark">


<%= render "layouts/modals" %>


<%= render "layouts/header" %>

  
<main class="container text-secondary-light">

  <% flash.each do |message_type, message| %>
    <!-- script below assumes such a function exists -->
    <script>deployToast('<%= message_type %>','<%= message %>');</script>
  <% end %>
  
  <%= yield %>
</main>
  
<%= render "layouts/footer" %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
