<% provide(:title, @account.first_name) %>

<% provide(:body, "grey lighten-2") %>
<div class="row">
  <br/>
  <aside class="col s12 m5">
    <section class="card user_info">
      <div class="col s12">
        <div class="row card-content">
          <h1 class="card-title text-accent">
            <span class="huge">
              <%= @account.first_name %>
            </span>
          </h1>
          <%= gravatar_for @account, size: 200, class: "col s4" %>
          <ul class="col s8">
            <li><%= @account.first_name %> <%= @account.last_name %></li>
            <li><%= @account.email %></li>
          </ul>
        </div>
      </div>
    </section>
  </aside>
  <% if @account.messages.any? %>
    <!-- content -->
    <div id="content" class="col s12 m7 grey lighten-2">
    <h3 id="messages-count" class="text-secondary">Messages (<%= @account.messages.count %>)</h3>
      <div class="messages">
        <%= render "shared/content" %>
        <%= pagination_change @messages %>
      </div>
    </div>
    <!-- content end -->
    <% end %>
</div>